<nav class="sidebar">
  <div class="author">
    <div class="content" itemscope itemtype="mailto:pandaxyz@tourble.org">
        <h3 class="name" itemprop="name">Pandaxyz</h3>
      <p class="description" itemprop="jobtitle">Fullstack Web Developer!</p>
      <ul class="social-buttons">
        <li>
          <a itemprop="email" href="mailto:pandaxyz@tourble.org" target="_blank">
            <i class="fa fa-envelope" aria-hidden="true"></i> Email
          </a>
        </li>
        <li>
          <a itemprop="url" href="http://github.com/pandaxyz-xd" target="_blank">
            <i class="fa fa-github-alt" aria-hidden="true"></i> Github
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/pandaxyz-xd-%E3%85%A4-4523aa258/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>